<!DOCTYPE html>
<html>
<head>
	<title>MovieDB</title>
</head>
<body>
	<h1>MovieDB</h1>
	<caption>Statistics like never before.</caption>
	<div>
		<h1>
    Search for a Movie
</h1>

<form action="/results" method="GET">
    <input type="text"  placeholder="search term" name="search">
    <input type="submit">
</form>
</div>
<div>
<header>Popular Movies</header>

	</div>
</body>
</html>