<!DOCTYPE html>
<html>
<head>
	<title>MovieDB</title>
	<style type="text/css">
		ul{
			display: none;
		}
	</style>
</head>
<body>
	<a href="/register">register</a>
	<a href="/login">login</a>
	<a href="/auth/google">Login with Google</a>
		<a href="/logout">logout</a>
	<h1>MovieDB</h1>
	<caption>Statistics like never before.</caption>
	<div>
		<h1>
    Search for a Movie
</h1>

<form action="/results" method="GET">
    <input type="text"  placeholder="search term" name="search">
    <input type="submit">
</form>
</div>
<div>

<p>View Basic Stats:</p>
<button>View</button>
<a href="/stats">Stats</a>
<ul>
	<li>Total No.of Movies:          <%=noofmovies%></li>
	<%movies.forEach(function(movie){%>
	<li>Total No.of <%=movie["lang"]%> Movies: <%=movie["count"]%></li>
	<%});%>
</ul>	
	</div>
 <script
			  src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
	

	<script type="text/javascript">
		$("button").click(function(){
			$( "ul" ).toggle();
			if($("button").html()=="View")
					$("button").html("Hide");
			else
			  $("button").html("View");
					
		});	

	</script>
</body>
</html>